.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: beige;
}

.logo {
    font-size: 30px;
    font-family: sans-serif;
    padding: 26px 20px;
}

.content {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: auto;
}

.footer {
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    color: #fff;

    text-align: center;
}